<p id="notice"><%= notice %></p>

<p>
  <strong>Domain name:</strong>
  <%= @tmp_domain_name.domain_name %>
</p>

<%= link_to 'Edit', edit_tmp_domain_name_path(@tmp_domain_name) %> |
<%= link_to 'Back', tmp_domain_names_path %>
