<p id="notice"><%= notice %></p>

<p>
  <strong>Domain name:</strong>
  <%= @black_domain_name.domain_name %>
</p>

<%= link_to 'Edit', edit_black_domain_name_path(@black_domain_name) %> |
<%= link_to 'Back', black_domain_names_path %>
